:root {
    
  --background-color: #ddd2ec;
  --primary-color: #7850b4;
  --primary-light-color: #5c5cb3;
  --secondary-color: #29B6A8;
  --black:#080818;
  --grey:#414150;

  //rgb(120, 80, 180)

}

html{
  font-size:62.5%;
  font-family: 'Roboto', sans-serif;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
